/* general settings */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.btn {
    color: white;
    text-decoration: none;
    background-color: rgb(19, 110, 214);
    padding: 5px 20px;
}

.btn:hover {
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    line-height: 80px;
    background-color: white;
    padding: 5px 10px;
    /* position: fixed; */
}

.logo {
    float: left;
    margin-right: 20px;
}

.logo img {
    vertical-align: middle;
}


/* nav bar */
#nav_left {
    float: left;
}

#nav_right {
    float: right;
    margin-right: 5px;
}

.nav_bar ul {
    list-style-type: none;
}

.nav_bar li {
    display: inline-block;
}

.nav_bar li a {
    margin: 10px;
    padding: 10px;
    color: black;
    font-size: 15px;
}

.nav_bar a:hover {
    color: blue;
}


/* start button */
header #start {
    float: right;
}

#start .btn {
    /* padding: 5px 10px; */
    font-size: 15px;
    background-color: blue;
}


/* jumbotron */
#jumbotron {
    background-color:rgb(149, 186, 223);
}

/* jumbotron title */
.jumbo_content {
    padding: 80px;
}

#jumbotron h1 {
    color: black;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
}

#jumbotron .jumbo_content .col_left {
    width: 550px;
    float: left;
    font-size: 20px;
}

.jumbo_content .col_left p {
    margin-bottom: 50px;
}

.jumbo_content .col_left #txt {
    font-size: 15px;
    margin-top: 20px;
}

.jumbo_content .col_left .arrow_down {
    font-size: 40px;
    margin-top: 50px;
}